<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Создать урок</title> <!-- Задаём название страницы -->
	<link rel="stylesheet" href="../../static/style.css"> <!-- Подключаем файл стилей -->
</head>
<body>
		<form action=""> <!-- Создаём форму -->
			<center><h1>Создать урок</h1></center> <!-- Создаём заголовок и центрируем его -->
			<label for="username">Название урока</label> <!-- Даём название следующему полю -->
			<input type="text" id="username" name="username"> <!-- Создаём поле текст -->

			<label for="info">Содержание урока</label>
			<textarea name="info" id="info" cols="30" rows="30"></textarea> <!-- Создаём текстовое пространство -->
			<button>Сохранить</button> <!-- Создаём кнопку -->
		</form>
</body>
</html>