<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Информация о пользователе</title> <!-- Задаём название страницы -->
	<link rel="stylesheet" href="../../static/style.css"> <!-- Подключаем файл стилей -->
</head>
<body>
		<form action=""> <!-- Создаём форму -->
			<center><h1>Информация о пользователе</h1></center> <!-- Создаём заголовок и центрируем его -->
			<label for="username">Имя пользователя</label> <!-- Даём название следующему полю -->
			<input type="text" id="username" name="username"> <!-- Создаём поле текст -->

			<label for="password">Пароль</label> <!-- Даём название следующему полю -->
			<input type="password" id="password" name="password"> <!-- Создаём поле пароль -->
			<span class="tip">Пароль не может быть пустым</span> <!-- Делаем подпись снизу -->

			<textarea name="info" id="info" cols="30" rows="10"></textarea> <!-- Создаём текстовое пространство -->
			<button>Создать</button> <!-- Создаём кнопку -->
		</form>
</body>
</html>