<!DOCTYPE html>
<html lang="ru">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Информация о пользователе</title> <!-- Задаём название страницы -->
	<link rel="stylesheet" th:href="@{/style.css}"> <!-- Подключаем файл стилей -->
</head>



<body>

<header th:replace="fragments/header :: header"></header>

	<form class="search-form" action=""> <!-- Создаём форму -->
			<center><h1>Курсы</h1></center> <!-- Создаём заголовок и центрируем его -->
			<label for="titlePrefix" class="inline">Filter by title</label> <!-- Даём название следующему полю -->
			<input type="text" id="titlePrefix" class="inline" name="titlePrefix" th:value="${param.titlePrefix}"/> <!-- Создаём поле текст -->
			<button>Apply</button> <!-- Создаём кнопку -->
	</form>
			<table border="0" cellpadding="0" class="main-table"> <!-- Создаём таблицу -->
					<thead>
					<tr> <!-- Создаём верхнюю строку -->
						<th>Id</th>
						<th>Title</th>
						<th>Author</th>
						<th>Action</th>
					</tr>
					</thead>
				<tbody>
				<tr th:each="course : ${courses}">
					<td th:text="${course.id}">1</td>
					<td>
						<a th:text="${course.title}" th:href="@{/course/{id}(id = ${course.id})}">Course name</a>
					</td>
					<td th:text="${course.author}">Course author</td>
					<td>
						<form th:method="delete" th:action="@{/course/{id}(id = ${course.id})}">
							<button class="table_button" type="submit">Удалить</button>
						</form>

					</td>
				</tr>
				</tbody>
			</table>

</body>
</html>