<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Create course</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="block">
    <h1>Создать курс</h1>
</div>
<div class="block">
    <img src="" , title="course pic">
</div>
<form th:object="${course}" th:method="post" th:action="@{/course}">
    <div class="block">
        <input type="hidden" th:field="*{id}">
        <label for="pic">Выберите обложку курса</label>
        <input type="file" name="pic">
        <button class="submit-button">Обновить</button>
        <label for="course-name">Название:</label>
        <input type="text" name="course-name" th:field="*{title}">
        <small class="hint" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
            Название должно быть заполнено
        </small>
        <label for="author">Автор:</label>
        <input type="text" name="author" th:field="*{author}">
        <small class="hint" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">
            Автор курса должен быть заполнен
        </small>
        <button class="submit-button" name="submit" value="submit">Сохранить</button>
    </div>
</form>

<div class="block" th:unless="${lessons == null}">

    <a th:href="@{/lesson/new(course_id = ${course.id})}">Новый урок</a>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:unless="${lessons.empty}" th:each="lesson : ${lessons}">
            <td th:text="${lesson.id}">1</td>
            <td>
                <a th:text="${lesson.title}" th:href="@{/lesson/{id}(id = ${lesson.id})}">Lesson name</a>
            </td>
            <td>
                <form th:method="delete" th:action="@{/lesson/{id}(id = ${lesson.id})}">
                    <button class="table-button" type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        <tr th:if="${lessons.empty}">
            <td colspan="3">Нет данных</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="block" th:unless="${users == null}">
    <a th:href="@{/course/{id}/assign(id = ${course.id})}">Назначить пользователя</a>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Имя пользователя</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:unless="${empty}" th:each="user : ${users}">
            <td th:text="${user.id}">1</td>
            <td>
                <a th:text="${user.username}">User name</a>
            </td>
            <td>
                <form class="inline"
                      th:method="post"
                      th:action="@{/course/{id}/remove/{userId}(id = ${course.id},userId=${user.id})}">
                    <button class="table-button" type="submit">Снять с курса</button>
                </form>
            </td>
        </tr>
        <tr th:if="${users.empty}">
            <td colspan="3">Нет данных</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>