<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/header :: header"></header>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title> <!-- Задаём название страницы -->
    <link rel="stylesheet"  th:href="@{/style.css}"> <!-- Подключаем файл стилей -->
</head>
<body>
<div class="error">
    <span>Пользователя не возможно удалить, так как на него назначены курсы, обратитесь к администратору</span>
</div>
</body>
</html>