<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Users</title>
</head>

<body>
<header th:replace="fragments/header :: header"></header>
<div class="block">
    <h1>Пользователи</h1>
</div>

<div class="block">
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:unless="${users.empty}" th:each="user : ${users}">
            <td th:text="${user.id}">1</td>
            <td>
                <a th:text="${user.username}" th:href="@{/user/admin/{id}(id = ${user.id})}">User name</a>
            </td>
            <td>
                <form th:method="delete" sec:authorize="hasRole('ADMIN')"
                      th:action="@{/user/{id}(id = ${user.id})}">
                    <button class="table-button" type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>

        <tr th:if="${users.empty}">
            <td colspan="3">Нет данных</td>
        </tr>
    </table>
</div>
</body>
</html>
