<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Создать курс</title> <!-- Задаём название страницы -->
	<link rel="stylesheet" href="../../static/style.css"> <!-- Подключаем файл стилей -->
</head>
<body>
		<form action=""> <!-- Создаём форму -->
			<center>
				<h1>Создать курс</h1>
				<img src="" alt="Аватарка" width="200px" height="200px">
			</center>
			<label for="file">Выберите обложку курса</label> <!-- Даём название следующему полю -->
			<input type="file" name="file">
			<button class="create_btn">Обновить</button> <!-- Создаём кнопку -->


			<label for="title">Название</label> <!-- Даём название следующему полю -->
			<input type="text" id="title" name="title"> <!-- Создаём поле текст -->
			<span class="red">Название курса должно быть заполнено</span> <!-- Делаем подпись снизу -->

			<label for="author">Автор</label> <!-- Даём название следующему полю -->
			<input type="text" id="author" name="author"> <!-- Создаём поле пароль -->
			<span class="red">Автор курса должен быть заполнен</span> <!-- Делаем подпись снизу -->
			<span class="table_name">Новый урок</span>
			<table border="0" width="100%" cellpadding="0" class="create_table"> <!-- Создаём таблицу -->
				<tr> <!-- Создаём верхнюю строку -->
					<th>id</th>
					<th>Название</th>
					<th>Action</th>
				</tr>
				<tr> <!-- Создаём ещё одну строку -->
					<td>1</td>
					<td>Название курса</td>
					<td>
						<button>Удалить</button> <!-- Создаём кнопку -->
					</td>
				</tr>
				<tr> <!-- Создаём ещё одну строку -->
					<td>Нет данных</td>
				</tr>
			</table>

			<span class="table_name">Пользователи, связанные с курсом</span>
			<table border="0" width="100%" cellpadding="0" class="create_table"> <!-- Создаём таблицу -->
				<tr> <!-- Создаём верхнюю строку -->
					<th>id</th>
					<th>Имя пользователя</th>
					<th>Action</th>
				</tr>
				<tr> <!-- Создаём ещё одну строку -->
					<td>1</td>
					<td>Username</td>
					<td>
						<button>Снять с урока</button> <!-- Создаём кнопку -->
					</td>
				</tr>
				<tr> <!-- Создаём ещё одну строку -->
					<td>Нет данных</td>
				</tr>
			</table>
		</form>
</body>
</html>