<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Информация о пользователе</title>
	<link rel="stylesheet" href="../../static/style.css">
</head>
<body>
		<form action=""> <!-- Создаём форму -->
			<center><h1>Назначить курс</h1></center> <!-- Создаём заголовок и центрируем его -->
			<label for="select" class="select">Выберите пользователя:</label> <!-- Даём название следующему полю -->
			<select name="select" id="select"> <!-- Создаём выпадающий список -->
				<option value="Имя">Имя</option> <!-- Добавляем один вариант -->
			</select>
			<button>Назначить</button> <!-- Создаём кнопку -->
		</form>
</body>
</html>